/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: 'Montserra Regular';
	src: url('assets/polices/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserra Italic';
	font-style: italic;
	src: url('assets/polices/Montserrat-Italic.ttf');
}

@font-face {
	font-family: 'Montserra Bold';
	font-weight: bold;
	src: url('assets/polices/Montserrat-Bold.ttf');
}
